{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block css %}
<style>
html,
body,
.intro {
  height: 100%;
}

@media (min-width: 550px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 750px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 750px;
  }
}

.mask-custom {
  backdrop-filter: blur(15px);
  background-color: rgba(255,255,255,.2);
  border-radius: 3em;
  border: 2px solid rgba(255,255,255,.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
</style>
{% endblock %}

{% block body %}
<section class="intro">
  <div class="bg-image h-100" style="background-image: url('https://img.freepik.com/free-vector/abstract-network-communications-background-with-low-poly-design_1048-12906.jpg?w=740&t=st=1662624603~exp=1662625203~hmac=297726f86cc7b40d3e14916e4cb141629840629e87a277d5c2246a007912c95a');">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 col-xl-6">
            <div class="card mask-custom">
              <div class="card-body p-5 text-white">

                <div class="my-4">

                  <h2 class="text-center mb-5">Register Form</h2>

                  <form  method="POST" action="/signup/">{% csrf_token %}
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-12 col-md-6 mb-4">
                        <div class="form-outline form-white">
                            <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                                First Name</i></label>
                        <input type="text" placeholder="Enter First Name" style="text-align: center;"
                            class="form-control" id="first_name" name="first_name" required>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 mb-4">
                        <div class="form-outline form-white">
                            <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                                Last Name</i></label>
                        <input type="text" placeholder="Enter Last Name" style="text-align: center;"
                        class="form-control" id="last_name" name="last_name" required>
                    </div>
                </div>
                <!-- Username -->
                      <div class="col-12 col-md-6 mb-4">
                        <div class="form-outline form-white">
                            <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                                Username</i></label>
                        <input type="text" placeholder="Enter Username" style="text-align: center;"
                            class="form-control" id="username" name="username" required>
                        </div>
                      </div>

                    </div>
                    
                    <!-- Email input -->
                    <div class="form-outline form-white mb-4">
                        <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                            Email</i></label>
                    <input type="email" placeholder="Enter your Email" style="text-align: center;"
                        class="form-control" id="email" name="email" required>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline form-white mb-4">
                        <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                            Password</i></label>
                    <input type="password" placeholder="Enter Password" style="text-align: center;"
                        class="form-control" id="password1" name="password1" required>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                          Confirm Password</i></label>
                  <input type="password" placeholder="Enter Password" style="text-align: center;"
                      class="form-control" id="password2" name="password2" required>
                  </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3"
                        checked
                      />
                      <label class="form-check-label" for="form2Example3">
                        Subscribe to our newsletter
                      </label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-light btn-block mb-4">Sign up</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>or sign up with:</p>
                      <button type="button" class="btn btn-light btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>

                      <button type="button" class="btn btn-light btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>

                      <button type="button" class="btn btn-light btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>

                      <button type="button" class="btn btn-light btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}